::selection{ /* Safari and Opera */  
    background:#c3effd;  
    color:#000;  
}  

::-moz-selection{ /* Firefox */  
    background:#c3effd;  
    color:#000;  
}  

html {
    width: 500px;
    height: 100%;

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: auto;
    padding: 25px 30px;

    /*http://html5-demos.appspot.com/static/a.download.html*/
    background: -moz-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
    background: -webkit-gradient(radial, center center, 200, center center, 1000, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6))) #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a,a:visited,a:active,a:focus {
    color: gray;
    text-decoration: none;
    border-bottom: thin #000000;
}

a:hover {
    color: black;
}

a img {
    border: none;
}

.lefticon {
    float: left;
    display: block;
    width: 128px;
    margin-right: 20px;

    background-color: rgba(255,255,255,0.05);
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.1), 
    0px 0px 70px 1px rgba(255,255,255,0.1) inset,
    0px 0px 0px 1px rgba(255,255,255,1) inset;
    border-radius: 5px;
}

.righticon {
    float: right;
    width: auto;
    height: 40px;

    padding: 7px;

    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1) inset,
    0px 0px 10px 1px rgba(255,255,255,0.7) inset;

    border-radius: 0px;
}

.shadow {
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.1), 
    0px 0px 70px 1px rgba(255,255,255,0.1) inset,
    0px 0px 0px 1px rgba(255,255,255,1) inset;
    border-radius: 5px;
}
 
img {
    display: block;
    text-align: center;
    width: 450px;
    padding: 5px;
    margin-bottom: 20px;
}

/*http://stackoverflow.com/questions/585945/how-to-align-content-of-a-div-to-the-bottom-with-css*/
#text {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 138px;
    margin-bottom: 20px;
}

#text-content {
    width: 300px;

    position: absolute;
    bottom: 0;
    left: 0;
}

p {
    font-family: HelveticaNeue-Light, "Helvetica Neue-Light", Helvetica-Light, "Helvetica", AppleSDGothicNeo-Light, AppleSDGothicNeoL, "Apple SD Gothic Neo", 'Ubuntu', "Hiragino Sans GB", "Segoe UI", "Malgun Gothic", Arial, Gulim, sans-serif;
    font-weight: 300;

    margin: auto;
    padding: 1px;

    font-size: 5px;
    line-height: 1.2em;
    letter-spacing: -0.1em;
    /*margin-left: 1.5em;*/
}

.bold {
    font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica-Bold, "Helvetica", AppleSDGothicNeo-ExtraBold, AppleSDGothicNeoEB, "Apple SD Gothic Neo ExtraBold", 'Exo', "Hiragino Sans GB", "Segoe UI", "Malgun Gothic", Arial, Gulim, sans-serif;
    font-weight: 400;
}

.large {
    font-size: 30px;
    line-height: 1.1em;
    letter-spacing: -0.05em;
    /*margin-left: 1.5em;*/
}

.medium {
    font-size: 20px;
    line-height: 1.1em;
    letter-spacing: -0.05em;
    /*margin-left: 1.5em;*/
}

.small {
    font-size: 15px;
    line-height: 1.1em;
    letter-spacing: -0.05em;
    /*margin-left: 1.5em;*/
}

.center {
    text-align: center;
}

